In [1]:
import numpy as np
import pandas as pd

In [4]:
print(np.__version__)
print(pd.__version__)

1.23.5
1.5.3

In [5]:
a1=np.array([1,2,3,4,5])
a1

array([1, 2, 3, 4, 5])

In [26]:
A1=pd.Series(a1)
A1
type(A1)

In [30]:
A2=pd.DataFrame(A1)
A2

   0
0  1
1  2
2  3
3  4
4  5

In [31]:
dict={"Name":["mm","dff","dd"],
     "Sem":[3,4,5]}
dict

{'Name': ['mm', 'dff', 'dd'], 'Sem': [3, 4, 5]}

In [33]:
A3=pd.DataFrame(dict)
A3

  Name  Sem
0   mm    3
1  dff    4
2   dd    5

In [34]:
A4=A3[A3["Sem"]>3]
A4

  Name  Sem
1  dff    4
2   dd    5

In [50]:
df=pd.read_excel("C:/Users/Welcome/Downloads/KPMG_VI_New_raw_data_update_final.xlsx",sheet_name="Transactions")
df.tail(10)

,Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
19991,19991,78,425,2017-01-26 00:00:00,False,Approved,Giant Bicycles,Standard,medium,large,1765.3,709.48,42218
19992,19992,11,1374,2017-09-14 00:00:00,False,Approved,Giant Bicycles,Standard,high,medium,1274.93,764.96,39298
19993,19993,13,5,2017-04-28 00:00:00,False,Approved,Solex,Standard,medium,medium,1163.89,589.27,39880
19994,19994,77,2618,2017-12-23 00:00:00,False,Approved,Norco Bicycles,Road,medium,large,1240.31,795.1,40553
19995,19995,9,718,2017-05-13 00:00:00,True,Approved,OHM Cycles,Road,medium,medium,742.54,667.4,38216
19996,19996,51,1018,2017-06-24 00:00:00,True,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.4,37823
19997,19997,41,127,2017-11-09 00:00:00,True,Approved,Solex,Road,medium,medium,416.98,312.74,35560
19998,19998,87,2284,2017-04-14 00:00:00,True,Approved,OHM Cycles,Standard,medium,medium,1636.9,44.71,40410
19999,19999,6,2764,2017-07-03 00:00:00,False,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,38216
20000,20000,11,1144,2017-09-22 00:00:00,True,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,36334