# Tasks to follow

In [1]:
# Task to follow:-
# 1. What is linearity in linear regression
# 2. Impact of outliers in machine learning models.
# 3. Feature scaling techniques
# 4. What are the common problems with decision tree and how to overcome it
# Practical to perform 
# 1. Feature scaling on knn dataset
# 2. Gridsearch cv on Random forest dataset
# 3. label encoding in decision tree dataset

# 1. What is linearity in linear regression

In [2]:
# It means that there is a linear relationship between the predictor variable (x) and the response variable (y).
# If the points in the plot fall roughly along a straight line, then the assumption is met.
# Linearity in linear regression is one of the four assumptions.
        # Linear relationship
        # Independence
        # Normality
        # Homoscedasticity:

# 2. Impact of outliers in machine learning model

In [ ]:
#  They can be caused by measurement errors, data entry errors
#  Outliers can significantly affect the results of machine learning models, leading to inaccurate predictions   
#  Causes overfitting or underfitting

# 3. Feature scaling techniques

In [ ]:
#  It involves rescaling each feature such that it has a standard deviation of 1 and a mean of 0.
#  to ease the convergence (such as a non-penalized logistic regression), to create a completely different model fit compared to the fit with unscaled data (such as KNeighbors models).
#  Techniques:
##         Absolute Maximum Scaling:
#                     Find the absolute maximum value of the feature in the dataset
#                     Divide all the values in the column by that maximum value

##         Min-Max Scaling:
#                         n min-max you will subtract the minimum value in the dataset with all the values
#                         and then divide this by the range of the dataset(maximum-minimum).
##         Normalization:
                        
#         Standardization
#         Robust Scaling

# 4. What are the common problems with decision tree and how to overcome it

In [ ]:
# Overfitting
# They can be unstable, meaning small changes in the data can lead to large changes in the structure of the tree and the predictions

# To overcome:
#     Using pruning techniques, such as reducing the depth or size of the tree, to avoid overfitting and simplify the tree.
#             Post pruning : Find max depth then scale down
#             pre pruning
#     Using ensemble methods, such as random forests or boosting

# Practical to perform

# 1. Feature scaling on knn dataset

In [20]:
import pandas as pd

In [21]:
df = pd.read_csv("C:/Users/Welcome/Downloads/diabetes (1).csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,500,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,102,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [22]:
from sklearn.preprocessing import StandardScaler # mean = 0 and SD = 1 
scaler = StandardScaler()
scaler

StandardScaler()

In [23]:
df1 = scaler.fit_transform(df)

In [24]:
df1

array([[ 6.39947260e-01,  5.25994223e-01,  1.73444714e+01, ...,
         4.68491977e-01,  1.39207212e+00,  1.36589591e+00],
       [-8.44885053e-01, -7.60513940e-01, -1.47625252e-01, ...,
        -3.65060778e-01, -1.92537941e-01, -7.32120209e-01],
       [ 1.23388019e+00,  1.24072098e+00, -2.28233992e-01, ...,
         6.04397318e-01,  5.72889964e+00,  1.36589591e+00],
       ...,
       [ 3.42980797e-01, -2.53664184e-02,  9.42009694e-02, ...,
        -6.85193357e-01, -2.75938470e-01, -7.32120209e-01],
       [-8.44885053e-01,  7.67374041e-02, -3.89451473e-01, ...,
        -3.71101015e-01,  1.14187053e+00,  1.36589591e+00],
       [-8.44885053e-01, -5.97147824e-01,  1.35922290e-02, ...,
        -4.73785050e-01, -8.59742176e-01, -7.32120209e-01]])

In [25]:
type(df1)

numpy.ndarray

In [26]:
df2 = pd.DataFrame(df1)
df2

,0,1,2,3,4,5,6,7,8
0,0.639947,0.525994,17.344471,0.907270,-0.692891,0.204013,0.468492,1.392072,1.365896
1,-0.844885,-0.760514,-0.147625,0.530902,-0.692891,-0.684422,-0.365061,-0.192538,-0.732120
2,1.233880,1.240721,-0.228234,-1.288212,-0.692891,-1.103255,0.604397,5.728900,1.365896
3,-0.844885,-0.678831,-0.147625,0.154533,0.123302,-0.494043,-0.920763,-1.026543,-0.732120
4,-1.141852,0.301366,-1.195539,0.907270,0.765836,1.409746,5.484909,-0.025737,1.365896
...,...,...,...,...,...,...,...,...,...
763,1.827813,-0.433782,0.255418,1.722735,0.870031,0.115169,-0.908682,2.476279,-0.732120
764,-0.547919,-0.004946,0.013592,0.405445,-0.692891,0.610154,-0.398282,-0.526140,-0.732120
765,0.342981,-0.025366,0.094201,0.154533,0.279594,-0.735190,-0.685193,-0.275938,-0.732120
766,-0.844885,0.076737,-0.389451,-1.288212,-0.692891,-0.240205,-0.371101,1.141871,1.365896
767,-0.844885,-0.597148,0.013592,0.656358,-0.692891,-0.202129,-0.473785,-0.859742,-0.732120

In [27]:
df2.columns = ["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","DiabetesPedigreeFunction","Age","Outcome"]
df2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,0.639947,0.525994,17.344471,0.907270,-0.692891,0.204013,0.468492,1.392072,1.365896
1,-0.844885,-0.760514,-0.147625,0.530902,-0.692891,-0.684422,-0.365061,-0.192538,-0.732120
2,1.233880,1.240721,-0.228234,-1.288212,-0.692891,-1.103255,0.604397,5.728900,1.365896
3,-0.844885,-0.678831,-0.147625,0.154533,0.123302,-0.494043,-0.920763,-1.026543,-0.732120
4,-1.141852,0.301366,-1.195539,0.907270,0.765836,1.409746,5.484909,-0.025737,1.365896
...,...,...,...,...,...,...,...,...,...
763,1.827813,-0.433782,0.255418,1.722735,0.870031,0.115169,-0.908682,2.476279,-0.732120
764,-0.547919,-0.004946,0.013592,0.405445,-0.692891,0.610154,-0.398282,-0.526140,-0.732120
765,0.342981,-0.025366,0.094201,0.154533,0.279594,-0.735190,-0.685193,-0.275938,-0.732120
766,-0.844885,0.076737,-0.389451,-1.288212,-0.692891,-0.240205,-0.371101,1.141871,1.365896
767,-0.844885,-0.597148,0.013592,0.656358,-0.692891,-0.202129,-0.473785,-0.859742,-0.732120

# 2. Gridsearch cv on Random forest dataset

In [29]:
df3 = pd.read_csv("C:/Users/Welcome/Downloads/heart.csv")
df3

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [30]:
df3.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [33]:
df3['target'].unique()

array([1, 0], dtype=int64)

In [36]:
X = df3.drop(['target'], axis = "columns")
y = df3['target']

In [37]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [38]:
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [39]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [40]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
82,60,0,2,102,318,0,1,160,0,0.0,2,1,2
158,58,1,1,125,220,0,1,144,0,0.4,1,4,3
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3
122,41,0,2,112,268,0,0,172,1,0.0,2,0,2
255,45,1,0,142,309,0,0,147,1,0.0,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3
103,42,1,2,120,240,1,1,194,0,0.8,0,0,3
156,47,1,2,130,253,0,1,179,0,0.0,2,0,2
55,52,1,1,134,201,0,1,158,0,0.8,2,1,2
72,29,1,1,130,204,0,0,202,0,0.0,2,0,2

X_test

In [47]:
from sklearn.ensemble import RandomForestClassifier
estimator = RandomForestClassifier()

In [66]:
param_grid={
    'criterion':['gini'],
#     "splitter":'best',
    "max_depth":[2,4],
    "min_samples_split":[2,5],
    "min_samples_leaf":[1,3]
    }
param_grid

{'criterion': ['gini'],
 'max_depth': [2, 4],
 'min_samples_split': [2, 5],
 'min_samples_leaf': [1, 3]}

In [67]:
from sklearn.model_selection import GridSearchCV
gscv = GridSearchCV(estimator=estimator,param_grid= param_grid,n_jobs=-1,return_train_score=True)
gscv

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini'], 'max_depth': [2, 4],
                         'min_samples_leaf': [1, 3],
                         'min_samples_split': [2, 5]},
             return_train_score=True)

In [68]:
gscv.fit(X_train, y_train)

GridSearchCV(estimator=RandomForestClassifier(), n_jobs=-1,
             param_grid={'criterion': ['gini'], 'max_depth': [2, 4],
                         'min_samples_leaf': [1, 3],
                         'min_samples_split': [2, 5]},
             return_train_score=True)

In [69]:
gscv.best_params_

{'criterion': 'gini',
 'max_depth': 4,
 'min_samples_leaf': 3,
 'min_samples_split': 5}

In [70]:
from sklearn import tree

In [74]:
tree.plot_tree()

TypeError: {'criterion': 'gini', 'max_depth': 4, 'min_samples_leaf': 3, 'min_samples_split': 5} is not an estimator instance.

In [72]:
gscv.score(X_test,y_test)

0.8571428571428571

In [73]:
gscv.score(X_train,y_train)

0.9198113207547169

# 3. label encoding in decision tree dataset

In [75]:
df4 = pd.read_csv("C:/Users/Welcome/Downloads/car_evaluation.csv")
df4

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [77]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1727 non-null   object
 1   vhigh.1  1727 non-null   object
 2   2        1727 non-null   object
 3   2.1      1727 non-null   object
 4   small    1727 non-null   object
 5   low      1727 non-null   object
 6   unacc    1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [96]:
from sklearn.preprocessing import LabelEncoder
le_vhigh = LabelEncoder()
le_vhigh1 = LabelEncoder()
le_2 = LabelEncoder()
le_21= LabelEncoder()
le_small = LabelEncoder()
le_low = LabelEncoder()
le_unacc = LabelEncoder()

In [99]:
df4['vhigh_n'] = le_vhigh.fit_transform(df4["vhigh"])
df4['vhigh1_n'] = le_vhigh1.fit_transform(df4["vhigh.1"])
df4['v2_n'] = le_2.fit_transform(df4["2"])
df4['v21_n'] = le_21.fit_transform(df4["2.1"])
df4['small_n'] = le_small.fit_transform(df4["small"])
df4['low_n'] = le_low.fit_transform(df4["low"])
df4['unnac_n'] = le_unacc.fit_transform(df4["unacc"])

In [100]:
df4

,vhigh,vhigh.1,2,2.1,small,low,unacc,vhigh_n,vhigh1_n,v2_n,v21_n,small_n,low_n,unnac_n
0,vhigh,vhigh,2,2,small,med,unacc,3,3,0,0,2,2,2
1,vhigh,vhigh,2,2,small,high,unacc,3,3,0,0,2,0,2
2,vhigh,vhigh,2,2,med,low,unacc,3,3,0,0,1,1,2
3,vhigh,vhigh,2,2,med,med,unacc,3,3,0,0,1,2,2
4,vhigh,vhigh,2,2,med,high,unacc,3,3,0,0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1722,low,low,5more,more,med,med,good,1,1,3,2,1,2,1
1723,low,low,5more,more,med,high,vgood,1,1,3,2,1,0,3
1724,low,low,5more,more,big,low,unacc,1,1,3,2,0,1,2
1725,low,low,5more,more,big,med,good,1,1,3,2,0,2,1
1726,low,low,5more,more,big,high,vgood,1,1,3,2,0,0,3

In [101]:
df5 = df4.drop(["vhigh","vhigh.1","2","2.1","small","low","unacc"],axis=1)

In [102]:
df5

      vhigh_n  vhigh1_n  v2_n  v21_n  small_n  low_n  unnac_n
0           3         3     0      0        2      2        2
1           3         3     0      0        2      0        2
2           3         3     0      0        1      1        2
3           3         3     0      0        1      2        2
4           3         3     0      0        1      0        2
...       ...       ...   ...    ...      ...    ...      ...
1722        1         1     3      2        1      2        1
1723        1         1     3      2        1      0        3
1724        1         1     3      2        0      1        2
1725        1         1     3      2        0      2        1
1726        1         1     3      2        0      0        3

[1727 rows x 7 columns]

# Project

In [ ]:
# heart disease
# imbd
# UCI repository
# IT doamin ** Ecommerce,